.container{
    background:  url(webpage.jpeg.jpg) repeat-x fixed ;
    background-size: 100% 100%;
    height: 900px;
    position: relative;
    animation-direction: alternate-reverse;
    animation: heo 15s 2;
    background-color: red;

}
@keyframes helo{
    from{ left: 0px;}
    to{left: 100%;}
}
nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
  
}
.logo{
    color: white;
    float: left;
    font-size: 40px;
    margin-left: 50px;
}

a{
    color: white;
    margin-top: 20px;
    margin-right: 20px;
}
.mid{
    text-align: center;
    margin-top: 200px;
    color: white;
    margin-left: 100px;
    margin-right: 200px;
}
.body{margin-bottom: 100px;
    text-align: center;
    width: 100%;
    height: inherit;
    color: grey;

}
.detail{
    margin-top: 100px;
    width: 50%;
    float: left;
}
.img{
    width: 50%;
    float: right;
}
.parent{
    position: relative;
    width: 20%;
}
.image{
    opacity: 1;
    display: block;
    height: auto;
    width: 100%;
    transition: 5s ease-in;
    backface-visibility: hidden;
}
.middle{
    transition: .5s ease;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.parent:hover .image{
    opacity: 0.3;
}
.parent:hover.middle{
    opacity: 1;
}
.text{
    background-color: red;
    color: blue;
    font-size: 16px 32px;
}
